/* Se utiliza un selector universal para 
remover cualquier estilo anterior de los elementos  */
* {
	border: none;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
 }

/* Reseteo márgenes browser y color body */
body {
	background-color: #44ACCE;
}
.container {
	width: 100%;
    height: 50px;
    background-color: #3A92AF;
    color: white;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}
.container img{
	width: 90px;
	height: 35px;
}

.text {
	background: #E2E4E6;
	border-radius: 3px;
	height: auto;
    width: 540px;
    float: left;
    margin: 12px;
    padding: 10px;
}


textarea {
	width: 90%;
    color: #4E4D53;
    font-size: 15px;
    padding: 1em;
    outline: 1px solid red;
}


#btn:disabled {
    background-color: #e0dbdb;
}

#btn, #btn2{
    background-color: #00B500;
    cursor: pointer;
    margin-top: 35px;
    width: 110px;
    height: 35px;
    display: block;
    color: #FFF;
}



#btn:hover {
	background-color: #5590A6;
}

#btn:focus, textarea:focus{
	outline: none;
}

/* Estilos contenedor comentarios */
#cont {
    clear: both;
    border-radius: 0.4em;
    width: auto;
    outline: 1px solid red;
    margin: 0 auto;
    color: #4E4D53;
    text-align: left;
    margin-bottom: 6em;
}

#cont span {
	margin-left: 1em;
}

#cont div {
	padding: 1em 0.5em;
    margin-bottom: 2em;
    background-color: #FFF;
    border-radius: 10px;
}

